{% extends 'template.html.twig' %}

{% block body %}
    <div class="alert alert-success">
       My Firstname is : {{ personne.firstname }}
       My name is : {{ personne.name }}
       i have : {{ personne.Age }} ans 
    </div>
{% endblock %}

{% block title %}
    {{personne.firstname }} {{personne.firstname }}
{% endblock %}
